##### import pandas as pd

## Python Pandas | Working with CSV Files
[Test - Hackerrank](https://www.hackerrank.com/test/gdc0h2kp88c/questions/9i4cisjq994)

In [7]:
# Task 1
import pandas as pd 
heights_A = pd.Series([176.2, 158.4, 167.6, 156.2, 161.4], index=["s1", "s2", "s3", "s4", "s5"])
weights_A = pd.Series([85.1, 90.2, 76.8, 80.4, 78.9], index=["s1", "s2", "s3", "s4", "s5"])
data = {"Student_height" : heights_A, "Student_weight" : weights_A}
df_A = pd.DataFrame(data)
# print(df_A)
df_A.to_csv("classA.csv")

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9

In [9]:
# Task 2
df_A2 = pd.read_csv("classA.csv")
print(df_A2)

  Unnamed: 0  Student_height  Student_weight
0         s1           176.2            85.1
1         s2           158.4            90.2
2         s3           167.6            76.8
3         s4           156.2            80.4
4         s5           161.4            78.9

In [10]:
# Task 3
df_A3 = pd.read_csv("classA.csv", index_col=0)
print(df_A3)

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9

In [19]:
# Task 4
from numpy import random
random.seed(100)
data_B = {"Student_height" : random.normal(loc=170, scale=25, size=(5,)),
          "Student_weight" : random.normal(loc=75, scale=12, size=(5,))}
df_B = pd.DataFrame(data_B, index=["s1", "s2", "s3", "s4", "s5"])
# print(df_B)
df_B.to_csv("classB.csv", index=False)

    Student_height  Student_weight
s1      126.255863       81.170626
s2      178.567010       77.654156
s3      198.825895       62.159480
s4      163.689099       72.726050
s5      194.533020       78.060017

In [21]:
ls -1 "classB.csv"

 Volume in drive C is Windows
 Volume Serial Number is 02AF-2E67

 Directory of C:\Users\abdur\OneDrive\Desktop\Git\Pandas_Tutorial


 Directory of C:\Users\abdur\OneDrive\Desktop\Git\Pandas_Tutorial

07-01-2024  14:07               219 classB.csv
               1 File(s)            219 bytes
               0 Dir(s)  35,656,794,112 bytes free

In [25]:
# !cat classB.csv

'cat' is not recognized as an internal or external command,
operable program or batch file.

In [26]:
# Task 5
df_B2 = pd.read_csv("classB.csv")
print(df_B2)

   Student_height  Student_weight
0      126.255863       81.170626
1      178.567010       77.654156
2      198.825895       62.159480
3      163.689099       72.726050
4      194.533020       78.060017

In [27]:
# Task 6
df_B3 = pd.read_csv("classB.csv", header=None)
print(df_B3)

                    0                  1
0      Student_height     Student_weight
1  126.25586317363256  81.17062609673259
2  178.56701008318754  77.65415603065681
3   198.8258950640911  62.15948003318048
4  163.68909908696526   72.7260500301219
5  194.53301967378079  78.06001733128058

In [28]:
# Task 7
df_B4 = pd.read_csv("classB.csv", header=None, skiprows=2)
print(df_B4)

            0          1
0  178.567010  77.654156
1  198.825895  62.159480
2  163.689099  72.726050
3  194.533020  78.060017

In [35]:
df = pd.DataFrame({'A':[34, 78, 54], 'B':[12, 67, 43]}, index=['r1', 'r2', 'r3'])
df.B

r1    12
r2    67
r3    43
Name: B, dtype: int64

In [36]:
df

     A   B
r1  34  12
r2  78  67
r3  54  43

In [37]:
del df["B"]
df

     A
r1  34
r2  78
r3  54

In [32]:
df = pd.DataFrame({'A':[34, 78, 54], 'B':[12, 67, 43]}, index=['r1', 'r2', 'r3'])

In [33]:
df.loc['r4'] = [67, 78]
df

     A   B
r1  34  12
r2  78  67
r3  54  43
r4  67  78

## Welcome to Python Pandas | 2 | Accessing Pandas Data Structures
[Test - Hackerrank](https://www.hackerrank.com/test/cihcjqrto14/questions)

In [11]:
# task 1
import pandas as pd 
heights_A = pd.Series([176.2, 158.4, 167.6, 156.2, 161.4], index=["s1", "s2", "s3", "s4", "s5"])
# print(heights_A)
print(heights_A["s2"])

158.4

In [12]:
# task 2
print(heights_A["s2":"s4"])

s2    158.4
s3    167.6
s4    156.2
dtype: float64

In [16]:
# task 3
weights_A = pd.Series([85.1, 90.2, 76.8, 80.4, 78.9], index=["s1", "s2", "s3", "s4", "s5"])
data = {"Student_height" : heights_A, "Student_weight" : weights_A}
df_A = pd.DataFrame(data)
# print(df_A)
height = df_A["Student_height"]
print(type(height))

<class 'pandas.core.series.Series'>

In [19]:
# task 4
df_s1s2 = df_A.loc[["s1", "s2"]]
print(df_s1s2)

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2

In [20]:
# task 5
df_s2s5s1 = df_A.loc[["s2", "s5", "s1"]]
print(df_s2s5s1)

    Student_height  Student_weight
s2           158.4            90.2
s5           161.4            78.9
s1           176.2            85.1

In [30]:
# task 6
df_s1s4 = df_A.loc[[i for i in df_A.index if i.endswith(("1", "4"))]]
print(df_s1s4)

    Student_height  Student_weight
s1           176.2            85.1
s4           156.2            80.4

In [27]:
index=["s1", "s2", "s3", "s4", "s5"]
print(index)
[i for i in index if i.endswith(("1", "4"))]

['s1', 's2', 's3', 's4', 's5']

['s1', 's4']

In [29]:
df_A.index

Index(['s1', 's2', 's3', 's4', 's5'], dtype='object')

## Accessing elements from Series

In [2]:
import pandas as pd
x = pd.Series(["India", "russia", "China"], index=["i", "r", "c"])
print(x)

i     India
r    russia
c     China
dtype: object

In [3]:
x[0]

'India'

In [4]:
x[2]

'China'

In [5]:
x["r"]

'russia'

In [6]:
x.iloc[2]

'China'

In [7]:
x.loc["i"]

'India'

In [8]:
x.get(1)

'russia'

In [9]:
x.get("i")

'India'

## Fresco - Pandas - Hackerrank

In [3]:
# task 1
import pandas as pd 
heights_A = pd.Series([176.2, 158.4, 167.6, 156.2, 161.4], index=["s1", "s2", "s3", "s4", "s5"])
print(heights_A)
print(heights_A.shape)

s1    176.2
s2    158.4
s3    167.6
s4    156.2
s5    161.4
dtype: float64
(5,)

In [4]:
# task 2
weights_A = pd.Series([85.1, 90.2, 76.8, 80.4, 78.9], index=["s1", "s2", "s3", "s4", "s5"])
print(weights_A)
print(weights_A.dtype)

s1    85.1
s2    90.2
s3    76.8
s4    80.4
s5    78.9
dtype: float64
float64

**Q**. add two or more series to make dataframe, use concatenate or Merge

In [13]:
# task 3
data = {"Student_height" : heights_A, "Student_weight" : weights_A}
df_A = pd.DataFrame(data)
print(df_A)
print(df_A.shape)

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9
(5, 2)

In [28]:
# task 4
from numpy import random
random.seed(100)
x = random.normal(loc=170, scale=25, size=(5,))
print(x)
heights_B = pd.Series(x, index=["s1", "s2", "s3", "s4", "s5"])
print(heights_B)

y = random.normal(loc=75, scale=12, size=(5,))
print(y)
weights_B = pd.Series(y, index=["s1", "s2", "s3", "s4", "s5"])
print(weights_B)

print(heights_B.mean())

[126.25586317 178.56701008 198.82589506 163.68909909 194.53301967]
s1    126.255863
s2    178.567010
s3    198.825895
s4    163.689099
s5    194.533020
dtype: float64
[81.1706261  77.65415603 62.15948003 72.72605003 78.06001733]
s1    81.170626
s2    77.654156
s3    62.159480
s4    72.726050
s5    78.060017
dtype: float64
172.37417741633146

In [31]:
# task 5
data = {"Student_height" : heights_B, "Student_weight" : weights_B}
df_B = pd.DataFrame(data)
print(df_B)
print(df_A.columns)

    Student_height  Student_weight
s1      126.255863       81.170626
s2      178.567010       77.654156
s3      198.825895       62.159480
s4      163.689099       72.726050
s5      194.533020       78.060017
Index(['Student_height', 'Student_weight'], dtype='object')

In [19]:
random.seed(100)
print(random.get_state())

('MT19937', array([       100,  854698869, 2051883563,  537498773, 2958973901,
       3942973360, 3887377573, 3677811589,  363514342, 2142748103,
       1886836008,  387189304, 3152543780, 1403413771,  134100736,
       3015357199,  869636401, 2660739430, 2369280134, 4197814311,
       2185306696, 1729241415, 3470759604, 2564777290,   38698368,
       1486947225, 1536869138, 1341727130,  797128003, 2937708172,
       3945843748, 4036127362, 2588544517, 3605678052, 2520382789,
        777841702, 2182316322, 3383497157, 2865756484,  157142725,
       2836201697, 1909445816, 4242861607, 4240390239, 1730050168,
       1422739690, 1936754661, 2874843427, 1860385589, 3904974773,
       1287272704, 3909158552,  204312155, 2007293212, 3056255399,
       2818749264,  977641874, 1139663059, 3622311188, 2843386190,
       4140257080,  346412420, 1800200530, 2804895998, 3471167404,
        513316684, 3997130046,  814771796, 3897719656, 1350825084,
       3444660887, 1956507819, 3569413466,  949044582, 4248696712,
       2075725090, 4160678427, 3380687813, 2534957932, 3386316981,
        856696350, 2090276903, 3029523792, 2074096557, 2072997680,
        946804650,  354701416, 3644023135, 2850268580, 1778397399,
       2316290760, 2940673037, 1299913031, 2868997883, 1354959259,
       2018260001,  718647552,  419943777, 3538884775,  151026967,
       4022577527, 3758944041, 2470303224, 2159949321, 3024369087,
       3554040058, 3288161191, 2591812639, 4111117533, 3318415875,
       3140078190, 1304733963, 3293776738,  562128566,  251587648,
       3435230643, 3357449956,  594497688, 3778290798, 3154883704,
       3683221146,  875418582,  793516520, 4164641027, 1565934972,
       2695122894, 2384177146,  362085719, 3770450643, 3759205521,
       2235922460, 2994893401, 3240546667, 2486781581, 1665424881,
       2446229559, 3867669105, 1837083011, 4288836308, 2725076574,
         19494616,   98401221, 1442923079, 4074806317, 3010739382,
       2588166037,  274796069, 1709138476, 1743180117, 2908916409,
       3543912285, 2888048301, 3916743331, 1771596217, 3183291954,
       2628446603, 1965520041, 1721167589, 4154475666, 2195957460,
       1341348110, 2299800204, 4053584040, 3672878874, 3579803265,
       1520653295, 3722214284,  990201618, 2778442946, 1595795561,
       3271842226, 1687035008, 3973662865, 1301136455, 1558308428,
       1366954512,  592132709, 1672550282, 1665445257,  162414427,
        824423067, 3286723292,  580354481, 4060406924, 2921837603,
       3455498942,  594661963, 1233066834, 3356111739, 1775863573,
       1302855586, 1284183822, 2543853739, 3024508014, 2715884382,
       3841460239, 1518180736, 2302319018, 2482079758, 1751980419,
        541041426, 3571316963,  333648170, 2364227677, 1423719751,
       2358813547, 3951733307, 1783963879, 1887113614,  198997308,
        760962430, 2156286345, 1970180011,  623290599, 1794458361,
       3898746031, 3305931956, 1173834764, 2191455995, 1739698712,
       1813620153, 2278939253,  915005649, 2674691156,  457663694,
       2713650215, 3264704635, 2218235963,  536121441, 1533534250,
       3961484509, 3624266365, 4131713694, 3981753818, 3103197319,
       2225637988, 1499017514, 2007853540, 2254001479, 1086558760,
       2172623901, 3133026348,  773038360,  916219755,  922358059,
        537250284, 3503027986, 1965527980, 1818220857, 2643962897,
        275910521, 4288076984, 2143431107, 1279347847, 2808145884,
       3831712149, 2292666158,  764725597, 1493252019, 1646738493,
       2925191344, 2834819391, 1917561623, 2349024949,  555996731,
          6691152, 1023659418, 2998765773,   78037431, 2474007872,
       3932757528, 4082259126, 3150137721, 2092683672,    7574383,
       3817378526,  461715269, 3305487438, 1864597623,  603641253,
       3788412977, 3880963795, 4228442410, 3765038920, 1776782515,
       2743321943, 1223317671, 2725236893, 3038471899, 2043196862,
         28044413, 3721278324, 2015755799, 4136699347, 3422788662,
        225967888, 1095185016, 1214819302, 3164303949,  229204310,
       4198788634, 3935949322, 1784000443,  351199121, 1624886885,
       2585653925, 3946650645, 2411584481,  399064259,   20862244,
       1562631274,  453524078,  310766750,  449374607, 3442126245,
       2421053881,  889944835, 3010536556, 3206823588, 2371718845,
       1384548763, 1240315139,  733248780, 1349829375, 3076316538,
       3094387101, 1308341249, 1671562567, 2963835878, 3902289469,
       3704001984, 3167973946, 1729366372, 1102168870, 3600998065,
        105717641, 1795998557,  941183133,  510383171, 3338115778,
       2831702137,  499236060, 1703231522, 3789163046, 2910244593,
        826585656, 3003271538,  457435787,  672984371, 1321132412,
        509992111, 1578285418, 1485466519,  994687375, 1061993933,
       3077871684, 2020051714, 4216550548, 3044200441, 2608226926,
       4048855556, 3813322028,  862813173, 2704999956, 2770677274,
       1878919397, 2419558242, 3506096719, 1095269740, 4138979954,
       4255613191, 3996978183, 2912936712, 2111499879, 1572775348,
       3872931552, 1227705351, 3099080151, 3394190211, 3633969915,
       1490468180,   22950150, 3515846364, 2100409978, 3768701703,
       2934007317,  489723797, 2254277708, 3508542026,  867856722,
       3765541088, 1238879766, 4128219035, 3988410497, 2334480084,
       2299382265, 3714385043, 1211883101, 1847719898, 3423075830,
        331501625,  103229710, 1775088152, 1025877616,  318544836,
       2673957353, 2482257485,  484302274,  126046498, 3441964547,
       4022554522, 3604367864, 1509917859,  943196039, 1389574369,
       3303363071, 4114429452, 1367170188, 1087896131, 3656454061,
       3544272714, 1127307890, 3909434373, 3898205701, 2579167238,
        765067069,  503601595, 2212068210,  132949212,  379242617,
       1202248299, 1399252865, 1308415792, 2722177286, 1970875462,
       1534163126, 1314885863,  243876467, 2245772309, 2084941258,
       3054253519, 1345777818,   78438881, 1983744128, 3151685025,
       1303762444, 1319463391,  435983445, 1448805449, 1160460841,
       3812973450,  353923024,  891973332,  651767657,  636348211,
        503022566,  286990726, 3075404199, 3371803875, 3856264747,
       2995150740, 1027931643, 3993012437,  894075965, 1087754977,
       1180046385, 2652088514, 2152748435,  544431369, 3784083298,
       3498791963, 1134626639, 4136804766, 1738656202, 2690597361,
       2441417146, 3154343796,  344344939,  473054229, 2190209832,
       3296619378, 3380010614, 2317705995,   67036528, 2187949844,
       1844495251,  698633344, 1916973159, 2675978278,  139609117,
       1739810395, 2953022829,  169883063, 3883213344, 3010475197,
       3703048266, 2533971901, 2430457676, 2866852280, 4258835029,
        167590882, 1898091551, 3636101068,  581121442, 3515210978,
       1126928318, 1381363541, 1950835231, 1786627538, 3208771900,
       3155920244, 1602342797, 3810316348, 1267261916, 1995137843,
       2974934717, 2902803039,  539096502, 1507743956, 3155561232,
       3860660770, 1249673742, 3877787893, 3370303769, 3666025294,
       2591095918, 3701302442, 1368795580, 1824497313, 1239234353,
       1226799106, 1018754626, 2224061470, 3559912737, 1829300864,
       2676658172,  816561998, 1078278623, 2757338288, 1767849557,
       2939850048,  746589991, 4105362305,  446115433, 4133126797,
        460685863, 3138665093,  805197926, 2138142818,  266763316,
       4090681002,  833496020,  900503756, 3362879141,  332179368,
       3406761843, 3628337500,  292850600, 4082107254, 1151204440,
        282014285, 1606750098, 2937705009,  705837906, 2452507534,
       2475015281, 1891755669, 4277218971,  222215216,  835055913,
       1967528039, 2055223417,  504791444, 3846526369, 1050443048,
       3201288967,  616810553, 3438510526, 1957385939, 2966267165,
       1717091967, 1013356539, 3349957453, 4066932237, 2898662350,
       3310484933,  848435048, 2785142355, 4214765889, 2627791703,
        885020631, 3653613858, 3069949269, 2394627236, 1118905808,
       1373095624, 4278321313,  177140799, 3973387825,  743474705,
       1778057229,  862024469, 1838917283, 1896051269, 1046379312,
       3380825165, 3267681060, 2734905282, 2156355872,  676497099,
       1715393401, 1581033659, 3109035462, 2095424697, 1288206078,
       1740532738,  235092631, 2411851516,  828062368, 1706935179,
       1112080862, 1508316776,  201919195, 1180532182], dtype=uint32), 624, 0, 0.0)

**Q**. Which of the following expressions are used to check if each element of a series s is present in the list of elements [67, 32]. Series s is defined as shown below.

In [32]:
s = pd.Series([99, 32, 67],list('abc'))
s

a    99
b    32
c    67
dtype: int64

In [33]:
s.isin([67, 32])

a    False
b     True
c     True
dtype: bool

In [34]:
s = pd.Series([89.2, 76.4, 98.2, 75.9], index=list('abcd'))
print(s[['c', 'a']])

c    98.2
a    89.2
dtype: float64

In [35]:
s = pd.Series([9.2, 'hello', 89])
s.dtype

dtype('O')

In [36]:
data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, columns=['a', 'b'])
print(df)
print(df.shape)

   a   b
0  1   2
1  5  10
(2, 2)