# Inbuild Functions
#### Table of Index
1. Statistics
2. Other

In [2]:
import numpy as np
import pandas as pd

In [3]:
a = pd.Series([35.46, 78.89, 34.23, 97.12, 15.78], 
             index = ["Brasil", "Russia", "India", "China", "SA"], name = "Brics Nations GDP")
a

Brasil    35.46
Russia    78.89
India     34.23
China     97.12
SA        15.78
Name: Brics Nations GDP, dtype: float64

In [4]:
a.mean()

52.29599999999999

In [5]:
a.std()

34.13092922848717

In [6]:
a.var()

1164.92033

# Other

### unique
- return unique elements from a column

In [1]:
import pandas as pd

file_path = "data.csv"
pd = pd.read_csv(file_path)
pd.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [4]:
pd["Duration"].unique()  # return unique elements from column

array([ 60,  45,  30,  80,  20, 210, 160, 180, 150, 300,  90, 120, 270,
        15,  25,  75], dtype=int64)