# Handson

## Python Pandas | 3 | Working with CSV files

### Method 1 - Failed

In [19]:
# Task 1
import pandas as pd 
heights_A = pd.Series([176.2, 158.4, 167.6, 156.2, 161.4], index=["s1", "s2", "s3", "s4", "s5"])
weights_A = pd.Series([85.1, 90.2, 76.8, 80.4, 78.9], index=["s1", "s2", "s3", "s4", "s5"])
data = {"Student_height" : heights_A, "Student_weight" : weights_A}
df_A = pd.DataFrame(data)
# print(df_A)
df_A.to_csv("classA.csv")

In [ ]:
# check hackerrank

In [20]:
# Task 2
df_A2 = pd.read_csv("classA.csv")
print(df_A2)

  Unnamed: 0  Student_height  Student_weight
0         s1           176.2            85.1
1         s2           158.4            90.2
2         s3           167.6            76.8
3         s4           156.2            80.4
4         s5           161.4            78.9

In [21]:
# Task 3
df_A3 = pd.read_csv("classA.csv", index_col=0)
print(df_A3)

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9

In [23]:
# Task 4
from numpy import random
random.seed(100)
data_B = {"Student_height" : random.normal(loc=170, scale=25, size=(5,)),
          "Student_weight" : random.normal(loc=75, scale=12, size=(5,))}
df_B = pd.DataFrame(data_B, index=["s1", "s2", "s3", "s4", "s5"])
# print(df_B)
df_B.to_csv("classB.csv", index=False)

In [24]:
# Task 5
df_B2 = pd.read_csv("classB.csv")
print(df_B2)

   Student_height  Student_weight
0      126.255863       81.170626
1      178.567010       77.654156
2      198.825895       62.159480
3      163.689099       72.726050
4      194.533020       78.060017

In [25]:
# Task 6
df_B3 = pd.read_csv("classB.csv", header=None)
print(df_B3)

                    0                  1
0      Student_height     Student_weight
1  126.25586317363256  81.17062609673259
2  178.56701008318754  77.65415603065681
3   198.8258950640911  62.15948003318048
4  163.68909908696526   72.7260500301219
5  194.53301967378079  78.06001733128058

In [26]:
# Task 7
df_B4 = pd.read_csv("classB.csv", header=None, skiprows=2)
print(df_B4)

            0          1
0  178.567010  77.654156
1  198.825895  62.159480
2  163.689099  72.726050
3  194.533020  78.060017

### Method 2 - Passed

In [35]:
import pandas as pd
import numpy as np
heights_A = pd.Series([176.2,158.4,167.6,156.2,161.4])
heights_A.index = ['s1','s2','s3','s4','s5']
weights_A = pd.Series([85.1,90.2,76.8,80.4,78.9])
weights_A.index = ['s1','s2','s3','s4','s5']
df_A = pd.DataFrame()
df_A['Student_height'] = heights_A
df_A['Student_weight'] = weights_A
df_A.to_csv('classA.csv')

# TASK 2
df_A2 = pd.read_csv('classA.csv')
print(df_A2)

#TASK 3
df_A3 = pd.read_csv('classA.csv',index_col = 0)
print(df_A3)

#TASK 4
my_mean = 170.0
my_std = 25.0
np.random.seed(100)
heights_B = pd.Series(np.random.normal(loc = my_mean, scale = my_std, size = 5))
heights_B.index = ['s1','s2','s3','s4','s5']
my_mean1 = 75.0
my_std1 = 12.0
np.random.seed(100)
weights_B = pd.Series(np.random.normal(loc = my_mean1,scale = my_std1,size = 5))
weights_B.index = ['s1','s2','s3','s4','s5']
df_B = pd.DataFrame()
df_B['Student_height'] = heights_B
df_B['Student_weight'] = weights_B

df_B.to_csv('classB.csv',index = False)
print('classB.csv')

#TASK 5
df_B2 = pd.read_csv('classB.csv')
print(df_B2)

#TASK 6
df_B3 = pd.read_csv('classB.csv',header = None)
print(df_B3)

#TASK 7

df_B4 = pd.read_csv('classB.csv',header = None, skiprows = 2)
print(df_B4)

  Unnamed: 0  Student_height  Student_weight
0         s1           176.2            85.1
1         s2           158.4            90.2
2         s3           167.6            76.8
3         s4           156.2            80.4
4         s5           161.4            78.9
    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9
classB.csv
   Student_height  Student_weight
0      126.255863       54.002814
1      178.567010       79.112165
2      198.825895       88.836430
3      163.689099       71.970768
4      194.533020       86.775849
                    0                  1
0      Student_height     Student_weight
1  126.25586317363256  54.00281432334363
2  178.56701008318754  79.11216483993003
3   198.8258950640911  88.83642963076373
4  163.68909908696526  71.97076756174332
5  194.53301967378079  86.77584944341478
            0          1
0  178.567010  79.112165
1  198.825895  88.836430
2  163.689099  71.970768
3  194.533020  86.775849

## Python Pandas | 4 | Indexing Dataframes

In [32]:
# Task 1
import pandas as pd
import numpy as np

dates = pd.date_range(start='9/1/2017', end='9/15/2017')
print(dates[2])

2017-09-03 00:00:00

In [33]:
# Task 2
datelist = ['14-Sep-2017', '9-Sep-2017']
dates_to_be_searched = pd.to_datetime(datelist)
print(dates_to_be_searched)

DatetimeIndex(['2017-09-14', '2017-09-09'], dtype='datetime64[ns]', freq=None)

In [34]:
# Task 3
print(dates_to_be_searched.isin(dates))

[ True  True]

In [39]:
# Task 4
arraylist = [['classA']*5 + ['classB']*5, ['s1', 's2', 's3', 's4', 's5']*2]
# arraylist

mi_index = pd.MultiIndex.from_arrays(arraylist)
# mi_index

mi_index.levels

FrozenList([['classA', 'classB'], ['s1', 's2', 's3', 's4', 's5']])

In [37]:
mi_index = pd.MultiIndex.from_arrays(arraylist)
mi_index

MultiIndex([('classA', 's1'),
            ('classA', 's2'),
            ('classA', 's3'),
            ('classA', 's4'),
            ('classA', 's5'),
            ('classB', 's1'),
            ('classB', 's2'),
            ('classB', 's3'),
            ('classB', 's4'),
            ('classB', 's5')],
           )

In [38]:
mi_index.levels

FrozenList([['classA', 'classB'], ['s1', 's2', 's3', 's4', 's5']])

## Python Pandas | 5 | Data Cleaning

In [8]:
# Task 1
import pandas as pd 
import numpy as np
heights_A = pd.Series([176.2, 158.4, 167.6, 156.2, 161.4], index=["s1", "s2", "s3", "s4", "s5"])
weights_A = pd.Series([85.1, 90.2, 76.8, 80.4, 78.9], index=["s1", "s2", "s3", "s4", "s5"])
data = {"Student_height" : heights_A, "Student_weight" : weights_A}
df_A = pd.DataFrame(data)
# print(df_A)
df_A.loc['s3'] = np.nan
# print(df_A)
df_A.loc['s5', 'Student_weight'] = np.nan
# print(df_A)
df_A2 = df_A.dropna()
print(df_A2)

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s4           156.2            80.4

## Python Pandas | 6 | Data Aggregation

In [2]:
# Task 1
import pandas as pd 
import numpy as np
heights_A = pd.Series([176.2, 158.4, 167.6, 156.2, 161.4], index=["s1", "s2", "s3", "s4", "s5"])
weights_A = pd.Series([85.1, 90.2, 76.8, 80.4, 78.9], index=["s1", "s2", "s3", "s4", "s5"])
data = {"Student_height" : heights_A, "Student_weight" : weights_A}
df_A = pd.DataFrame(data)
# print(df_A)
df_A_filter1 = df_A[(df_A.Student_height > 160.0) & (df_A.Student_weight < 80.0)]
print(df_A_filter1)

    Student_height  Student_weight
s3           167.6            76.8
s5           161.4            78.9

In [4]:
# Task 2
df_A_filter2 = df_A[df_A.index.str.endswith("5")]
print(df_A_filter2)

    Student_height  Student_weight
s5           161.4            78.9

In [8]:
# Task 3
df_A["Gender"] = ["M", "F", "M", "M", "F"]
# print(df_A)
df_groups = df_A.groupby("Gender")
# print(df_groups)
print(df_groups.mean())

        Student_height  Student_weight
Gender
F           159.900000       84.550000
M           166.666667       80.766667

## Python Pandas | 7 | Data Merging 1

### Method 1 - Failed

In [10]:
# Task 1
import pandas as pd 
import numpy as np
heights_A = pd.Series([176.2, 158.4, 167.6, 156.2, 161.4], index=["s1", "s2", "s3", "s4", "s5"])
weights_A = pd.Series([85.1, 90.2, 76.8, 80.4, 78.9], index=["s1", "s2", "s3", "s4", "s5"])
data = {"Student_height" : heights_A, "Student_weight" : weights_A}
df_A = pd.DataFrame(data)
# print(df_A)

df_A["Gender"] = ["M", "F", "M", "M", "F"]
# print(df_A)

s = pd.Series([165.4, 82.7, "F"], index=["Student_height", "Student_weight", "Gender"], name="s6")
# print(s)

df_AA = df_A.append(s)
print(df_AA)

    Student_height  Student_weight Gender
s1           176.2            85.1      M
s2           158.4            90.2      F
s3           167.6            76.8      M
s4           156.2            80.4      M
s5           161.4            78.9      F
s6           165.4            82.7      F

C:\Users\abdur\AppData\Local\Temp\ipykernel_11032\4057193878.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_AA = df_A.append(s)

In [24]:
# Task 2
from numpy import random
random.seed(100)
heights_B = pd.Series(random.normal(loc=170, scale=25, size=(5,)), index=["s1", "s2", "s3", "s4", "s5"])
weights_B = pd.Series(random.normal(loc=75, scale=12, size=(5,)), index=["s1", "s2", "s3", "s4", "s5"])
df_B = pd.DataFrame({"Student_height" : heights_B,
          "Student_weight" : weights_B})

df_B["index"] = ["s7", "s8", "s9", "s10", "s11"]
df_B.set_index("index", inplace=True, drop=True)

df_B["Gender"] = ["F", "M", "F", "F", "M"]
# print(df_B)

df = pd.concat([df_AA, df_B])
print(df)

     Student_height  Student_weight Gender
s1       176.200000       85.100000      M
s2       158.400000       90.200000      F
s3       167.600000       76.800000      M
s4       156.200000       80.400000      M
s5       161.400000       78.900000      F
s6       165.400000       82.700000      F
s7       126.255863       81.170626      F
s8       178.567010       77.654156      M
s9       198.825895       62.159480      F
s10      163.689099       72.726050      F
s11      194.533020       78.060017      M

### Method 2 - Passed

In [33]:
import pandas as pd
import numpy as np

height_A = pd.Series([176.2,158.4,167.6,156.2,161.4])
height_A.index = ['s1','s2','s3','s4','s5']

weights_A = pd.Series([85.1,90.2,76.8,80.4,78.9])
weights_A.index = ['s1','s2','s3','s4','s5']

df_A = pd.DataFrame()
df_A['Student_height'] = height_A
df_A['Student_weight'] = weights_A

df_A['Gender'] = ['M','F','M','M','F']

s = pd.Series([165.4,82.7,'F'],index = ['Student_height','Student_weight','Gender'],name='s6')

df_AA = df_A.append(s)
print(df_AA)

#TASK - 2
my_mean = 170.0
my_std = 25.0
np.random.seed(100)
heights_B = pd.Series(np.random.normal(loc = my_mean,scale=my_std,size = 5))
heights_B.index = ['s1','s2','s3','s4','s5']

my_mean1 = 75.0
my_std1 = 12.0
np.random.seed(100)
weights_B = pd.Series(np.random.normal(loc = my_mean1,scale=my_std1,size = 5))
weights_B.index = ['s1','s2','s3','s4','s5']

df_B = pd.DataFrame()
df_B['Student_height'] = heights_B
df_B['Student_weight'] = weights_B

df_B.index=['s7','s8','s9','s10','s11']
df_B['Gender'] = ['F','M','F','F','M']

df = pd.concat([df_AA,df_B])
print(df)

    Student_height  Student_weight Gender
s1           176.2            85.1      M
s2           158.4            90.2      F
s3           167.6            76.8      M
s4           156.2            80.4      M
s5           161.4            78.9      F
s6           165.4            82.7      F
     Student_height  Student_weight Gender
s1       176.200000       85.100000      M
s2       158.400000       90.200000      F
s3       167.600000       76.800000      M
s4       156.200000       80.400000      M
s5       161.400000       78.900000      F
s6       165.400000       82.700000      F
s7       126.255863       54.002814      F
s8       178.567010       79.112165      M
s9       198.825895       88.836430      F
s10      163.689099       71.970768      F
s11      194.533020       86.775849      M

C:\Users\abdur\AppData\Local\Temp\ipykernel_11032\650130035.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_AA = df_A.append(s)

## Python Pandas | 8 | Data Merging 2

### Method 1 - Failed

In [30]:
# Task 1
import pandas as pd
import numpy as np

nameid = pd.Series(range(101, 111))
name = pd.Series('Person' + str(i) for i in range(1, 11))
# print(nameid)
# print(name)

master = pd.DataFrame({'nameid': nameid, 'name': name})
# print(master)

transaction = pd.DataFrame({'nameid': [108, 108, 108, 103],
                           'product': ['iPhone', 'Nokia', 'Micromax', 'Vivo']})
# print(transaction)

mdf = pd.merge(master, transaction, on='nameid')
print(mdf)

   nameid     name   product
0     103  Person3      Vivo
1     108  Person8    iPhone
2     108  Person8     Nokia
3     108  Person8  Micromax

### Method 2 - Passed

In [34]:
import pandas as pd
import numpy as np
nameid = pd.Series(range(101,111))
name = pd.Series(['person' + str(i) for i in range(1,11)])
master = pd.DataFrame()
master['nameid'] = nameid
master['name'] = name
transaction = pd.DataFrame({'nameid':[108,108,108,103],'product':['iPhone','Nokia','Micromax','Vivo']})
mdf = pd.merge(master,transaction,on='nameid')
print(mdf)

   nameid     name   product
0     103  person3      Vivo
1     108  person8    iPhone
2     108  person8     Nokia
3     108  person8  Micromax

# Quiz

### Quiz on Data Merging

### Pandas Final Assessment

In [1]:
import pandas as pd

df = pd.DataFrame({'A':[34, 78, 54], 'B':[12, 67, 43]}, index=['r1', 'r2', 'r3'])
df

     A   B
r1  34  12
r2  78  67
r3  54  43

In [3]:
df.iloc[1]

A    78
B    67
Name: r2, dtype: int64

In [4]:
df['C'] = [12, 23, 45]
df

     A   B   C
r1  34  12  12
r2  78  67  23
r3  54  43  45

In [5]:
s = pd.Series([89.2, 76.4, 98.2, 75.9], index=list('abcd'))
s

a    89.2
b    76.4
c    98.2
d    75.9
dtype: float64

In [6]:
'b' in s

True

In [12]:
import pandas as pd

df = pd.DataFrame({'A':[34, 78, 54], 'B':[12, 67, 43]}, index=['r1', 'r2', 'r3'])
df

     A   B
r1  34  12
r2  78  67
r3  54  43

In [8]:
df.iloc[:2]

     A   B
r1  34  12
r2  78  67

In [13]:
df[lambda x : x.index.str.endswith('3')]

     A   B
r3  54  43

In [9]:
import pandas as pd

data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, columns=['a', 'b'])
df

   a   b
0  1   2
1  5  10

In [10]:
df.shape

(2, 2)

In [14]:
import pandas as pd

data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
df

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [15]:
df.shape

(2, 3)

In [16]:
pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D')

DatetimeIndex(['2017-09-11', '2017-09-13', '2017-09-15', '2017-09-17'], dtype='datetime64[ns]', freq='2D')

In [17]:
import pandas as pd

d = pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D')
len(d[d.isin(pd.to_datetime(['12-09-2017', '15-09-2017']))])

C:\Users\abdur\AppData\Local\Temp\ipykernel_13104\2725895699.py:4: UserWarning: Parsing '15-09-2017' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  len(d[d.isin(pd.to_datetime(['12-09-2017', '15-09-2017']))])

1

In [18]:
pd.period_range('11-Sep-2017', '17-Sep-2017', freq='M')

PeriodIndex(['2017-09'], dtype='period[M]')