# Pandas Library - Operations
#### Table of Contents
1. Arithmetic
2. Assignment
3. Conditional
4. Boolean
5. Logical

In [2]:
import numpy as np
import pandas as pd

# Conditional

In [1]:
import pandas as pd

file_path = "data.csv"
pd = pd.read_csv(file_path)
pd.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [2]:
pd["Duration"] >= 100

0      False
1      False
2      False
3      False
4      False
       ...
164    False
165    False
166    False
167    False
168    False
Name: Duration, Length: 169, dtype: bool

In [4]:
pd1 = pd[pd["Duration"] >= 200]
pd1

     Duration  Pulse  Maxpulse  Calories
60        210    108       160    1376.0
69        300    108       143    1500.2
79        270    100       131    1729.0
109       210    137       184    1860.4

### Boolean Operations

In [1]:
import pandas as pd
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], 
   index = ['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom', 'United States'])
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [3]:
print(df["Population"] > 70)

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: Population, dtype: bool

### Logical Operations

In [ ]:
~ not
| or
& and